<div class="signin-content">
  <mat-card>
    <h1 class='title'>Matcha</h1>
    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <mat-form-field class="full-width-input">
          <input matInput placeholder="email" formControlName="email" required>
          <mat-error *ngIf="isFieldInvalid('userName')">
            Veuillez renseigner votre email
          </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width-input">
          <input matInput type="password" placeholder="mot de passe" formControlName="password" required>
          <mat-error *ngIf="isFieldInvalid('userName')">
            Veuillez renseigner votre mot de passe
          </mat-error>
        </mat-form-field>
        <button mat-raised-button class="button" type="submit">Se connecter</button>
      </form>
      <h4 class="cursor"(click)="forgetPasswordPage()"> Mot de passe oublié?</h4>
      <button mat-raised-button  type="submit" (click)="registerPage()">Creer un compte</button>
    </mat-card-content>
  </mat-card>
</div>