<div class="chat-container">
    <h1 mat-line style="text-align:center"> Your Chat</h1>
    <mat-list>
        <mat-list-item *ngFor="let message of messages" [ngClass]="['chat-list-item']">
          <a [routerLink]="['/home/chat/', message.room]" [state]="{ to: message.contact}" style="text-decoration: none; color: inherit;">
            <h4 mat-line>
              <b>{{message.contact}}</b>
            </h4>
            <p mat-line>
              <span class="message"> <i>{{message.from_mail}}</i>: {{message.content}} </span>
            </p>
          </a>
        </mat-list-item>
    </mat-list>
</div>