 <mat-card style="text-align: center ; background-color: #c0c0c0">
 <mat-card-title style="font-family: URW Chancery L, cursive"> Registration Form </mat-card-title>
  <mat-divider ></mat-divider>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
 <p style="margin: 20px 0px 0px 0px">
 <mat-form-field appearance="outline">
    <mat-label>Email</mat-label>
    <input matInput #input placeholder="Ex. Pascale@gmail.com" formControlName="email"
    class="form-control"/>
  </mat-form-field>
   <div *ngIf="f.email.touched && f.email.invalid" class="alert alert-danger">
            <div *ngIf="f.email.errors && f.email.errors.required"> Email is required.</div>
            <div *ngIf="f.email.errors && f.email.errors.email">
             Email is invalid</div>
        </div>
   <p>
   <mat-form-field appearance="outline">
    <mat-label>Password</mat-label>
    <input matInput #input placeholder="Num/Upp/Low/special" formControlName="password"
    class="form-control" type="password">
  </mat-form-field>
     <div *ngIf="f.password.touched && f.password.invalid" class="alert alert-danger">
            <div *ngIf="f.password.errors && f.password.errors.required"> Password is required.</div>
            <div *ngIf="f.password.errors && f.password.errors.pattern">
             Password must have at least 1 upper/lower and special character</div>
            <div *ngIf="f.password.errors && f.password.errors.minlength"> Password should be 6 character.</div>
            <div *ngIf="f.password.errors && f.password.errors.maxlength">
             Password cannot have more than 40 character</div>
        </div>
  <p>
   <mat-form-field appearance="outline">
    <mat-label>First Name</mat-label>
    <input matInput #input placeholder="Ex. Pascale" formControlName="firstName"
    class="form-control">
  </mat-form-field>
  </p>
    <p>
   <mat-form-field appearance="outline">
    <mat-label>Last Name</mat-label>
    <input matInput #input placeholder="Ex. Dupont" formControlName="lastName"
    class="form-control">
  </mat-form-field>
  </p>
  <p>
   <mat-form-field appearance="outline">
    <mat-label>Age</mat-label>
    <input matInput #input maxlength="25" placeholder="Ex. 17" formControlName="age"
    class="form-control">
  </mat-form-field>
  </p>
    <p>
   <mat-form-field appearance="outline">
    <mat-label> Gender </mat-label>
  <mat-select formControlName="gender" class="form-control">
    <mat-option value="Man">Man</mat-option>
    <mat-option value="Woman">Woman</mat-option>
    <mat-option value="Non-binary">Non-binary</mat-option>
  </mat-select>
  </mat-form-field>
  </p>
  <p>
   <mat-form-field appearance="outline">
    <mat-label> Orientation </mat-label>
  <mat-select formControlName="orientation" class="form-control">
    <mat-option value="Heterosexual">Heterosexual</mat-option>
    <mat-option value="Homosexual">Homosexual</mat-option>
    <mat-option value="Bisexual">Bisexual</mat-option>
  </mat-select>
  </mat-form-field>
  </p>
    <p>
<mat-form-field class="example-chip-list" appearance="fill">
  <mat-label> List of Interests</mat-label>
  <mat-chip-list #chipList aria-label="Interests selection">
    <mat-chip *ngFor="let interest of interests" [selectable]="selectable"
             [removable]="removable" (removed)="remove(interest)">
      {{interest}}
      <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
    </mat-chip>
    <input placeholder="Add New Interest..."
           [matChipInputFor]="chipList"
           [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
           [matChipInputAddOnBlur]="addOnBlur"
           (matChipInputTokenEnd)="add($event)"
           formControlName="interest"
           class="form-control"
           >
  </mat-chip-list>
</mat-form-field>
  </p>
  <p>
  <input type="file" style="display: none" name="img" #fileInput accept="image/*" (change)="onChangeFileInput()" />
  <button mat-raised-button type="button"  color="primary" class="file-select-button" (click)="onClickFileInputButton()">
    <mat-icon>attach_file</mat-icon>
    Choose a Picture
  </button>
  <h3 class="file-name" *ngIf="!file; else fileName">File name is ...</h3>
  <ng-template #fileName>
    <h3 class="file-name">{{ file?.name }}</h3>
  </ng-template>
    <p>
<mat-form-field appearance="outline">
    <mat-label> Biography </mat-label>
    <textarea matInput placeholder="Ex. I'm a good guy..."formControlName="biography" class="form-control" ></textarea>
  </mat-form-field>
  </p>
  <h2 style="margin: 5px"> Do you want to be Geolocalize ? </h2>
  <p>
  <mat-radio-group aria-label="Select an option" formControlName="is_geolocated">
  <mat-radio-button value="yes">yes</mat-radio-button>
  <mat-radio-button value="no">no</mat-radio-button>
</mat-radio-group>
</p>
  <button mat-raised-button disabled *ngIf="!file" title="You must choose a Picture"> Create my account </button>
  <button mat-raised-button type="submit" style="background-color: #9c9c9c" *ngIf="file" > Create my account </button>
  </form>
  </mat-card>