 <mat-card style="text-align: center">
 <mat-card-title> Formulaire d'enregistrement </mat-card-title>

 <p>
 <mat-form-field appearance="outline">
    <mat-label>Email</mat-label>
    <input matInput #input placeholder="Ex. Pascale@gmail.com">
  </mat-form-field>
  </p>
  <p>
   <mat-form-field appearance="outline">
    <mat-label>Prenom</mat-label>
    <input matInput #input placeholder="Ex. Pascale">
  </mat-form-field>
  </p>
    <p>
   <mat-form-field appearance="outline">
    <mat-label>Nom</mat-label>
    <input matInput #input placeholder="Ex. Dupont">
  </mat-form-field>
  </p>
  <p>
   <mat-form-field appearance="outline">
    <mat-label>Age</mat-label>
    <input matInput #input maxlength="25" placeholder="Ex. 17">
  </mat-form-field>
  </p>
    <p>
   <mat-form-field appearance="outline">
    <mat-label> Genre </mat-label>
  <mat-select >
    <mat-option value="option1">Homme</mat-option>
    <mat-option value="option2">Femme</mat-option>
    <mat-option value="option3">Non Binaire</mat-option>
  </mat-select>
  </mat-form-field>
  </p>
  <p>
   <mat-form-field appearance="outline">
    <mat-label> Orientation </mat-label>
  <mat-select >
    <mat-option value="option1">Heterosexuel</mat-option>
    <mat-option value="option2">Homosexuel</mat-option>
    <mat-option value="option3">Bisexuel</mat-option>
  </mat-select>
  </mat-form-field>
  </p>
    <p>
<mat-form-field appearance="outline">
    <mat-label>centre d'intérêt</mat-label>
    <textarea matInput placeholder="Ex. #terasse #velo"></textarea>
  </mat-form-field>
  </p>
    <p>
<mat-form-field appearance="outline">
    <mat-label> Biographie </mat-label>
    <textarea matInput placeholder="Ex. J'aime le surf..."></textarea>
  </mat-form-field>
  </p>
  </mat-card>