 <mat-card style="text-align: center ; background-color: #c0c0c0">
 <mat-card-title style="font-family: URW Chancery L, cursive"> Registration Form </mat-card-title>
  <mat-divider ></mat-divider>
 <p style="margin: 20px">
 <mat-form-field appearance="outline">
    <mat-label>Email</mat-label>
    <input matInput #input placeholder="Ex. Pascale@gmail.com">
  </mat-form-field>
  </p>
  <p>
   <mat-form-field appearance="outline">
    <mat-label>First Name</mat-label>
    <input matInput #input placeholder="Ex. Pascale">
  </mat-form-field>
  </p>
    <p>
   <mat-form-field appearance="outline">
    <mat-label>Last Name</mat-label>
    <input matInput #input placeholder="Ex. Dupont">
  </mat-form-field>
  </p>
  <p>
   <mat-form-field appearance="outline">
    <mat-label>Age</mat-label>
    <input matInput #input maxlength="25" placeholder="Ex. 17">
  </mat-form-field>
  </p>
    <p>
   <mat-form-field appearance="outline">
    <mat-label>Location</mat-label>
    <input matInput #input maxlength="25" placeholder="Ex. France">
  </mat-form-field>
  </p>
    <p>
   <mat-form-field appearance="outline">
    <mat-label> Gender </mat-label>
  <mat-select >
    <mat-option value="option1">Man</mat-option>
    <mat-option value="option2">Woman</mat-option>
    <mat-option value="option3">Non-binary</mat-option>
  </mat-select>
  </mat-form-field>
  </p>
  <p>
   <mat-form-field appearance="outline">
    <mat-label> Orientation </mat-label>
  <mat-select >
    <mat-option value="option1">Heterosexual</mat-option>
    <mat-option value="option2">Homosexual</mat-option>
    <mat-option value="option3">Bisexual</mat-option>
  </mat-select>
  </mat-form-field>
  </p>
    <p>
<mat-form-field appearance="outline">
    <mat-label> Interests </mat-label>
    <textarea matInput placeholder="Ex. #drink #hyking"></textarea>
  </mat-form-field>
  </p>
    <p>
<mat-form-field appearance="outline">
    <mat-label> Biography </mat-label>
    <textarea matInput placeholder="Ex. I'm a good guy..."></textarea>
  </mat-form-field>
  </p>
  <button mat-raised-button type="submit" style="background-color: #9c9c9c"> Create my account </button>
  </mat-card>