.div{
	display: flex;
	flex-direction: column;
	text-align: center;
	position: fixed;
	top: 30%;
	left: 45%;
	font-family: URW Chancery L, cursive;
	
      }
.match{
	display: flex;
	flex-direction: column;
	text-align: center;
	position: fixed;
	top: 35%;
	left: 48%;
	font-family: URW Chancery L, cursive;
	background-color: #4E7CB5;
	
      }