
<mat-toolbar class="example-header">
<span class="align-middle"> Matcha</span>
  <button mat-button class="align-left" matTooltip="Open Nav"  (click)="sidenav.toggle()">
  <mat-icon>menu</mat-icon>
  </button>
  <button mat-button class="align-left-right" matTooltip="Home" (click)="home()">
  <mat-icon>home</mat-icon>
  </button>
  <button mat-button class="align-right" matTooltip="Disconnect" (click)="logout()">
  <mat-icon>logout</mat-icon>
  </button>
  <button mat-button class="align-right-left" matTooltip="notifications" (click)="removeNotifications()">
  <mat-icon matBadge={{notificationsUnseen}} matBadgePosition="above after">notifications</mat-icon>
  </button>

  </mat-toolbar>

  <mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav mode="side" opened="false" mode="over" class="example-sidenav">
    <mat-nav-list>
         <mat-list-item [routerLink]="'profile'" (click)="sidenav.toggle()">
        <mat-icon>face</mat-icon>
        <span class="align-middle">Profile</span>
      </mat-list-item>
      <mat-list-item [routerLink]="'match'" (click)="sidenav.toggle()">
        <mat-icon>favorite</mat-icon>
        <span class="align-middle">Match </span>
      </mat-list-item>
      <mat-list-item [routerLink]="'chat'" (click)="sidenav.toggle()">
        <mat-icon>chat</mat-icon>
        <span class="align-middle">Chat</span>
      </mat-list-item>
               <mat-list-item [routerLink]="'history'" (click)="sidenav.toggle()">
        <mat-icon>history</mat-icon>
        <span class="align-middle">History / Notification</span>
      </mat-list-item>
     </mat-nav-list>
    </mat-sidenav>
<router-outlet></router-outlet>

  </mat-sidenav-container>
