.example-container {
	position: absolute;
	top: 60px;
	bottom: 60px;
	left: 0;
	right: 0;
      }
      
      .example-sidenav {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 200px;
	background: #4E7CB5;
      }
      
      .example-header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background: #4E7CB5;
	z-index: 1000;
      }
      

      .align-right {
	      position: absolute;
	      right: 0;
      }
      .align-middle {
	text-align: center;
	display: inline-block;
	width: 100%;
      }
      .align-left {
	position: absolute;
	left: 0;
}
	.align-left-right {
	  position : absolute;
	  left: 3%
	}

	.align-right-left {
		position: absolute;
		right: 3%;
	}

	.align-right-left-left {
		position: absolute;
		right: 6%;
	}


footer {
	background-color: #4E7CB5;
	padding-top: 58px;
	padding-bottom: 0px;
	position:fixed;
	bottom:0;
	width:100%;
}

.title-header {
	color: #F1D302;
	letter-spacing: 0.05cm;
	font-weight: bold;
}