<mat-toolbar class="example-header">
  <button mat-raised-button color="primary" (click)="sidenav.toggle()">
  <mat-icon>menu</mat-icon>
  </button>
  </mat-toolbar>

  <mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav mode="side" opened="false" mode="over" class="example-sidenav">
    <mat-nav-list>
         <mat-list-item [routerLink]="'profile'" (click)="sidenav.toggle()">
        <mat-icon>person</mat-icon>
        <span>Profile</span>
      </mat-list-item>
     </mat-nav-list>
    </mat-sidenav>
<router-outlet></router-outlet>

  </mat-sidenav-container>

<router-outlet></router-outlet>