<div class="chat-container">
  <mat-card class="main-card">
    <h1 style="text-align:center">  {{ to }}</h1>
    <mat-list class="chat-list">
      <mat-list-item *ngFor="let message of messages" [ngClass]="['chat-list-item']">
        <div *ngIf="message.from_mail == to; else elseBlock">
          <p mat-line>
            <span> {{message.content}} </span>
          </p>
        </div>
        <ng-template #elseBlock>
          <p mat-line>
            <span> {{message.content}} </span>
          </p>
        </ng-template>
      </mat-list-item>
    </mat-list>
    <div class="chat-footer-container" style="text-align: center;">
      <mat-form-field class="chat-input">
        <input matInput
               #inputMessage
               maxlength="140"
               placeholder="{{'Type your message here!'}}"
               [(ngModel)]="messageContent"
               (keyup.enter)="sendMessage(messageContent)">
      </mat-form-field>
    </div>
  </mat-card>
</div>