<div class="chat-container">
  <mat-card class="main-card">
    <h1 style="text-align:center">  {{ to }}</h1>
    <mat-list class="chat-list">
      <div *ngFor="let message of messages">
          <div *ngIf="message.from_mail == to; else elseBlock">
            <mat-list-item [ngClass]="['chat-list-item to']">
              <p mat-line>
                {{message.content}}
              </p>
            </mat-list-item>
          </div>
          <ng-template #elseBlock>
            <mat-list-item [ngClass]="['chat-list-item from']">
              <p mat-line>
                {{message.content}}
              </p>
            </mat-list-item>
          </ng-template>
      </div>
    </mat-list>
    <div class="chat-footer-container">
      <mat-form-field class="chat-input">
        <input matInput
               #inputMessage
               maxlength="140"
               placeholder="{{'Type your message here!'}}"
               [(ngModel)]="messageContent"
               (keyup.enter)="sendMessage(messageContent)">
      </mat-form-field>
    </div>
  </mat-card>
</div>