.div-card {
	width: 100%;
	text-align:center;
}
.example-card {
	max-width: 600px;
	display:inline-block;
	width: 600px;
      }
      
      .header {
	display: flex;
	align-items: center;
	justify-content: center;
      }
      .main-image{
	margin:10px auto;
	width: 100%;
      }
      img {
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 5px;
	width: 190px;
      }