<div class="div-card">
<mat-card class="example-card">
  <mat-card-header class="header">
    <mat-card-title>{{userData[0].first_name}}  {{userData[0].last_name}}</mat-card-title>
    <mat-card-subtitle>{{userData[0].fame}} fame points</mat-card-subtitle>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content >
    <p style="margin: 20px 0px 0px 0px">
    </p>
    <p *ngIf="userData[0].interests.length > 0">
     Interests :  {{userData[0].interests}}
    </p>
    <p style="margin: 6px 0px 0px 0px" *ngIf="userData[0].biography.length > 0">
    Bio : {{userData[0].biography}}
    </p>
    <p style="margin: 6px 0px 0px 0px" >
    Age : {{userData[0].age}} years
    </p>
    <p style="margin: 6px 0px 0px 0px" >
    Gender : {{userData[0].genre}}
    </p>
    <p style="margin: 6px 0px 0px 0px" >
    Orientation : {{userData[0].orientation}}
    </p>
    <p style="margin: 6px 0px 0px 0px" >
    Last connection : {{userData[0].last_connection}}
    </p>
    <mat-divider></mat-divider>
    <h1 style="margin: 5px 0px 0px 0px">Picture</h1>
    <img style="margin: 5px 0px 0px 0px" [src]="userData[0].image"/>
  <!--  <img style="margin: 5px 0px 0px 0px" [src]="image1" *ngIf="image1.length > 0"/>
    <img style="margin: 5px 0px 0px 0px" [src]="image2" *ngIf="image2.length > 0"/>
    <img style="margin: 5px 0px 0px 0px" [src]="image3" *ngIf="image3.length > 0"/> -->
  </mat-card-content>
    <mat-divider></mat-divider>
     <p *ngIf="likedyou == true" style="margin: 6px 0px 0px 0px" >
     {{userData[0].first_name}} liked you 
    </p>
    <p *ngIf="youlike == true" style="margin: 6px 0px 0px 0px" >
      You liked {{userData[0].first_name}}
    </p>
  <mat-card-actions>
   <button *ngIf="youlike == false" mat-icon-button color="warn" matTooltip="Like" (click)="likeAction()">
        <mat-icon>favorite</mat-icon>
      </button>
    <button *ngIf="youlike == true" mat-icon-button matTooltip="UnLike" (click)="unlikeAction()">
        <mat-icon>favorite_border</mat-icon>
      </button>
    <button mat-icon-button color="basic" matTooltip="Block User" (clcik)="blockAction()">
        <mat-icon>block</mat-icon>
      </button>
    <button mat-icon-button color="primary" matTooltip="Report User as Fake">
        <mat-icon>report</mat-icon>
      </button>
  </mat-card-actions>
</mat-card>
</div>