<div class="reset-password-content">
  <mat-card>
      <mat-card-content>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <p>Change your password</p>
          <mat-form-field class="full-width-input">
            <input matInput type="password" placeholder="mot de passe" formControlName="password" required>
              Please specify a valid password
          </mat-form-field>
      <button mat-raised-button color="primary" type="submit">Change Password</button>
    </form>
    </mat-card-content>
  </mat-card>
  </div>