table {
	width: 100%;
      }

      .mat-row .mat-cell {
	border-bottom: 1px solid transparent;
	border-top: 1px solid transparent;
	cursor: pointer;
      }
      
      .mat-row:hover .mat-cell {
	border-color: currentColor;
      }
      .filter-row {
	display: flex;
	flex-direction: row;
	flex: 1;
	align-content: center;
	justify-content: space-between;
      }

      img {
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 5px;
	width: 190px;
      }