<div class="container"> 
  <div class="slide-div">
    <h4 class="slide-title"> Age slider</h4>
    <mat-slider 
      (change)="sortAge($event)" 
      step="1"
      min="0"
      max="100"
      [value]="sortAgeValue">
    </mat-slider>
    {{sortAgeValue}}
  </div>

  <div class="slide-div"> 
    <h4 class="slide-title"> Distance slider</h4>
    <mat-slider 
      (change)="sortMiles($event)" 
      step="20"
      min="0"
      max="7000"
      [value]="sortmilesValue">
    </mat-slider>
    {{sortmilesValue}}
  </div>

  <div class="slide-div">
    <h4 class="slide-title"> Fame slider</h4>
    <mat-slider 
      (input)="sortFame($event)" 
      step="20"
      min="0"
      max="500"
      [value]="sortFameValue">
    </mat-slider>
    {{sortFameValue}}
  </div>

  <div class="slide-div">
    <h4 class="slide-title"> Interest Slider</h4>
    <mat-slider 
      (input)="sortInterest($event)" 
      step="1"
      min="0"
      max="7"
      [value]="sortInterestValue">
    </mat-slider>
    {{sortInterestValue}}
  </div>
  <button mat-button (click)="resetSlider()">Reset Sliders</button>
</div>

<section class="filter-row">
  <!--Filters and columns-->
  <mat-form-field class="campaigns-table-filter" >
    <mat-label>Search</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="" #input>
  </mat-form-field>
  </section>
<div class="centered">
  <table mat-table [dataSource]="dataSource" matSort>

    <!-- Position Column -->
    <ng-container matColumnDef="first_name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> First Name </th>
      <td mat-cell *matCellDef="let element"> {{element.first_name}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="last_name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </th>
      <td mat-cell *matCellDef="let element"> {{element.last_name}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="age">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Age </th>
      <td mat-cell *matCellDef="let element"> {{element.age}} </td>
    </ng-container>

        <!-- Name Column -->
    <ng-container matColumnDef="image">
      <th mat-header-cell *matHeaderCellDef> Picture </th>
      <td mat-cell *matCellDef="let element"> <img src={{element.realImage}} > </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="interests">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Interests </th>
      <td mat-cell *matCellDef="let element"> {{element.interests}} </td>
    </ng-container>

      <!-- Weight Column -->
    <ng-container matColumnDef="distance">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Distance </th>
      <td mat-cell *matCellDef="let element"> {{element.distance}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="genre">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Gender </th>
      <td mat-cell *matCellDef="let element"> {{element.genre}} </td>
    </ng-container>

        <!-- Symbol Column -->
    <ng-container matColumnDef="fame">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Fame </th>
      <td mat-cell *matCellDef="let element"> {{element.fame}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"
    [routerLink]="['/home/match/', row.id]"></tr>
  </table>

  <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20, 30]" showFirstLastButtons></mat-paginator>
</div>