<section class="filter-row">
  <!-- Filters and columns -->
  <mat-form-field class="campaigns-table-filter" >
    <mat-label>Quick Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="" #input>
  </mat-form-field>
  </section>
<div class="centered">
  <table mat-table [dataSource]="dataSource">

    <!-- Position Column -->
    <ng-container matColumnDef="first_name">
      <th mat-header-cell *matHeaderCellDef> First Name </th>
      <td mat-cell *matCellDef="let element"> {{element.first_name}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="last_name">
      <th mat-header-cell *matHeaderCellDef> Last Name </th>
      <td mat-cell *matCellDef="let element"> {{element.last_name}} </td>
    </ng-container>

        <!-- Name Column -->
    <ng-container matColumnDef="image">
      <th mat-header-cell *matHeaderCellDef> Picture </th>
      <td mat-cell *matCellDef="let element"> <img src={{element.realImage}} > </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="interests">
      <th mat-header-cell *matHeaderCellDef> Interests </th>
      <td mat-cell *matCellDef="let element"> {{element.interests}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="genre">
      <th mat-header-cell *matHeaderCellDef> Gender </th>
      <td mat-cell *matCellDef="let element"> {{element.genre}} </td>
    </ng-container>

        <!-- Symbol Column -->
    <ng-container matColumnDef="fame">
      <th mat-header-cell *matHeaderCellDef> Fame </th>
      <td mat-cell *matCellDef="let element"> {{element.fame}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"
    [routerLink]="['/home/match/', row.id]"></tr>
  </table>

  <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20, 30]" showFirstLastButtons></mat-paginator>
</div>